body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #292929;
}

.header {
  background-image: url(../public/fondo.jpg);
  min-height: 60vh;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Asegura que la imagen cubra todo el header */
  background-position: 50% 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

h1 {
  color: #292929;
  font-size: 4rem;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  color: #292929;
  font-size: 1.7rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}